<h1>COMPLETED</h1>

<% if (kits.length === 0) {%>
    <h2>MAKE SOME KITS!</h2>
<%}%>

<div class="backlog-container">

    <% for (let kit of kits) {%>
        <a href="/kit/<%=kit.sku%>">
        <div class="backlog-kit-container">

            <div class="completed-image-container">
                <img src="<%=kit.image_url%>" alt="<%=kit.name%>">
            </div>  

            <div class="info-container">

                <% let kitName = `${kit.grades_abbreviation} ${kit.name}`
                if (kitName.length > 28) {
                    kitName = kitName.substring(0, 26) + '...'
                } %>
                <p class="kit-name"><%=kitName%></p>

                <div class="logos">

                    <div class="grade-logo">
                        <img src="<%= kit.grades_logo%>" alt="<%= %>">
                    </div>

                    <div class="series-logo">
                        <img src="<%= kit.series_logo%>" alt="<%= %>">
                    </div>

                </div>

            </div>

            <div class="buttons">
                <form action="/completed?_method=delete" method="post" > 
                    <input type="hidden" name="compID" value ="<%=kit.comp_id%>" >
                    <button class="complete-remove">REMOVE FROM COMPLETED</button>
                </form>
            </div>
    
        </div>
        </a>
    <% } %>

</div>




