<h1>View Kit</h1>


<% if (isLoggedIn) {%>

<div class="header">
<form action="/favourites" method="post">
    <input type="hidden" name="kitID" value ="<%= kit.id%>">
    <input type="hidden" name="sku" value ="<%= kit.sku%>">

    <button>Add to Favourites</button>
</form>

<form action="/backlog" method="post">
    <input type="hidden" name="kitID" value ="<%= kit.id%>">
    <input type="hidden" name="sku" value ="<%= kit.sku%>">

    <button>Add to backlog</button>
</form>
<button>Completed</button>
</div>

<%}%>



        <div class="logos">
        <img src="<%= kit.grades_logo%>" alt="<%= %>" class="grade-logo">
        <img src="<%= kit.series_logo%>" alt="<%= %>" class="series-logo">
        </div>
        <img src="<%=kit.image_url%>" alt="<%=kit.name%>">
        
            <% let kitName = `${kit.grades_abbreviation} ${kit.name}`
                if (kitName.length > 35) {
                    kitName = kitName.substring(0, 32) + '...'
                } %>
            
            <p class="kit-name"><%=kitName%></p>
           







