<h1>View Kit</h1>


<% if (isLoggedIn) {%>

<div class="header">
<form action="/favourites" method="post">
    <input type="hidden" name="kitID" value ="<%= kit.id%>">
    <input type="hidden" name="sku" value ="<%= kit.sku%>">

    <button>ADD TO FAVOURITES</button>
</form>

<form action="/backlog" method="post">
    <input type="hidden" name="kitID" value ="<%= kit.id%>">
    <input type="hidden" name="sku" value ="<%= kit.sku%>">

    <button>ADD TO BACKLOG</button>
</form>
<form action="/completed" method="post">
    <input type="hidden" name="kitID" value ="<%= kit.id%>">
    <input type="hidden" name="sku" value ="<%= kit.sku%>">

    <button>ADD TO COMPLETED</button>
</form>
</div>

<%}%>



        <div class="logos">
        <img src="<%= kit.grades_logo%>" alt="<%= %>" class="grade-logo">
        <img src="<%= kit.series_logo%>" alt="<%= %>" class="series-logo">
        </div>
        <img src="<%=kit.image_url%>" alt="<%=kit.name%>">
            
        <h2 class="kit-name"><%=`${kit.grades_abbreviation} ${kit.name}`%></h2>
           







