<h1><%=currentUser.username%></h1>

<a href="/profile/<%=currentUser.username%>/favourites"><button><%=`FAVOURITES (${favouritesLength})`%></button></a>
<a href="/profile/<%=currentUser.username%>/backlog"><button><%=`BACKLOG (${backlogLength})`%></button></a>
<a href="/profile/<%=currentUser.username%>/completed"><button><%=`COMPLETED (${completedLength})`%></button></a>
